<!DOCTYPE html>
<html>
<head>
<title>Startup Template</title>
<script src="lib/jquery.js"></script>
<script src="lib/require.js" data-main="main"></script>
</head>
<body>
	<div ng-controller="menubar">
		<ul class="nav firstLevel" >
			<!-- <li ng-repeat="tab in tabs" id="{{tab.state}}" ng-click="tabClicked(tab">
				<ul class="secondClass">
					<li ng-repeat="child in tab.children" id="{{child.state}}" ng-click="tabClicked(child)"><span>{{child.title}}</span></li>
				</ul>
				<span>{{tab.title}}</span>
			</li> -->
		</ul>
	</div>
	<div class="board" ui-view></div>
</body>
</html>