<!DOCTYPE html>
<html>
<head>
<title>Startup Template</title>
<script src="lib/jquery.js"></script>
<script src="lib/require.js" data-main="main"></script>
</head>
<body>
<div ng-controller="menubar">
{{title}}
<ul>
<li ng-repeat="tab in tabs">
 <a ng-show="tab.children.length=='0'" ng-click="tabClicked(tab)">{{tab.title}}</a>
 <span ng-show="tab.children.length>0">{{tab.title}}</span>
 <ul ng-show="tab.children.length>0">
 	<li ng-repeat="child in tab.children">
 		<a ng-click="tabClicked(child)" >{{child.title}}</a>
 	</li>
 </ul>
</li>
</ul>


</div>

<div ui-view></div>
</body>
</html>